<h1><%= @team.name %></h1>
<h3>Projects:</h3>
<ul>
<% @team.projects.each do |project| %>
  <li><%= link_to project.title, project_url(project) %></li>
<% end %>
</ul>

<% members = @team.members %>

<h3>Members (<%= members.count %>):</h3>
<ul>
  <% members.each do |member| %>
  <li><%= link_to member.name, user_url(member) %></li>
  <% end %>
</ul>

<%= link_to "<< Teams List", teams_url %>