<%= form_for(@project) do |f| %>

<h1><%= @project.title %></h1>

<h3>Description</h3>
  <%= @project.description %>
</p>

<h3>Items:</h3>
<ul>
  <% @project.items.each do |item| %>
  <li><%= item.title %>: <%= item.description%></li>
  <% end %>
</ul>

<%= link_to "<< Projects List", projects_url %>

<% end %>